@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-size: 18px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
}

p {
    font-weight: normal;
    letter-spacing: .5px;
    word-spacing: .5px;
    line-height: 27px;
}

.container {
    padding: 0 0 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.content {
    margin: 200px 0 100px;
    max-width: 1000px;
}

.description {
    text-align: center;
}

.header-container {
    width: 100%;
    background-color: white;
    height: 80px;
    position: fixed;
    box-shadow: 10px 5px 5px #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    min-width: 1000px;
    align-items: center;
    display: flex;
    z-index: 9999;
}

.header-item {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: all 0.1s;
}
.header-item:hover{
    color: gray;
}
